@media screen and (max-width: 1800px) and (min-width: 1660px){
    .artist-bg{
        top: -36px;
    }
}
@media screen and (max-width: 1199px){
    .header-logo img {
        width: 35%;
    }
}
@media screen and (max-width: 991px){
    .artist-profile-img {
        text-align: unset;
    }
    .artist-bg, .overlay {
        height: 730px;
    }
    .artist-profile {
        text-align: unset;
    }
    .artist-links .btn, .event-card .btn {
        width: 75%;
        height: 35%;
        margin: 20px auto 0 auto;
    }
    .event-card {
        width: 90%;
        margin: 25px auto;
    }
    .artist-search {
        padding: 5% 0 4% 0;
    }
    button {
        width: 15%;
    }
}
@media screen and (max-width: 550px){
    button {
        width: 28%;
    }
    input[type=search] {
        width: 55%;
    }
    .artist-search {
        padding: 13% 0 4% 0;
    }
}